.HeroContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.TextSection {
  height: 100%;
  width: 50vw;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  white-space: nowrap;
}

.TextSection img {
  width: 100%;
}

.TextSection::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-top: 120px;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background-color: var(--primary-text-color);
}

.TextSection h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.Slogan {
  margin-top: 30px;
  font-size: 18px;
  position: relative;
  margin-bottom: 50px;
}

.BtnPrimary {
  align-self: center;
  position: relative;
}

.DownArrow {
  position: absolute;
  right: 90%;
  width: 40px;
  height: 40px;
}
.ImageSection {
  height: 100%;
  width: 50vw;
  background-color: var(--background-color);
}

.ImageSection img {
  height: 100%;
  width: 100%;
  left: 40px;
  object-fit: cover;
  border-radius: 50% 0 0 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
