/*! Dropdown Section */
.DropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.DropdownItem {
  position: relative;
  display: inline-block;
}

.DropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  background-color: var(--primary-text-color);
  padding: 10px 12px;
  border-radius: 4px;
}

.DropdownHeader h5 {
  color: var(--background-color);
  margin: 0;
}

.DropdownArrow {
  height: 25px;
  width: 25px;
  transition: transform 0.3s ease;
}
.DropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-text-color);
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.MenuItems:nth-child(1) {
  
}

.DropdownContent.active {
  transform: scaleY(1);
  opacity: 1;
}

.DropdownContent h5 {
  padding: 8px 12px;
  color: var(--background-color);
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.DropdownContent h5:hover {
  background-color: rgba(0, 0, 0, 0.1);
}